<div class="row table">
    <div class="col">
        <div class="header-table">
            <h3>
                RECENT CUSTOMERS
            <a class="float-right" href="#">
                <img  src="assets/settings.png">
            </a></h3>
        </div>
        <table class="table-striped table-borderless border">
            <tr *ngFor="let person of this.peoples">
                <td class="align-middle name data">{{person.name}}</td>
                <td class="align-middle data">{{person.join}}<br><span>joined</span></td>
                <td class="align-middle data">{{person.phone}}<br><span>Phone Number</span></td>
                <td class="align-middle data">{{person.location}}<br><span>Location</span></td>
                <td>
                    <button type="button" class="btn btn-light">Options</button>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Details</button>
                </td>
            </tr>
        </table>
    </div>
</div>