<nav class="navbar navbar-dark bg-light menu-cima">
    <a class="navbar-brand" href="#">
        <img src="assets/menu-cima/paisagem.png" width="30" height="30" alt="">
      </a>
  <div class="navbar" >
    <ul class="nav">
      <li class="nav-item user">
        <a class="nav-link">
          RENNE MCKELVEY<br><span>Account Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <img class="rounded " src="assets/menu-cima/userprofile.png">
        </a>
      </li>
    </ul>
  </div>
</nav>



<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-light">
    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-2 icons">
        <a href="#"><img src="assets/menu-lat/search.png"></a><br>
        <a href="#"><img src="assets/menu-lat/home.png"></a><br>
        <a href="#"><img src="assets/menu-lat/file-analysis.png"></a><br>
        <a href="#"><img src="assets/menu-lat/graphics.png"></a><br>
        <a href="#"><img src="assets/menu-lat/upload.png"></a><br>
        <a href="#"><img src="assets/menu-lat/file-image.png"></a><br>
        <a href="#"><img src="assets/menu-lat/calendar.png"></a><br>
        <a href="#"><img src="assets/menu-lat/users.png"></a><br>
        <a href="#"><img src="assets/settings.png"></a><br>
    </div>
  </div>
</div>

