<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="col">
            <main>
                <div class="container">
                    <section>
                        <app-statistic></app-statistic>
                    </section>
                    <section>
                        <app-chart></app-chart>
                    </section>
                    <section>
                        <app-table></app-table>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>
<footer class="border-top">
    <span>&copy;</span> Your Company Details
</footer>