<div class="row">
	<div class="card-deck">
		<div class="card border-light col-md-4">
			<div class="row">
				<div class="col-md-9">
					<div class="card-body aling-center">
						<h4 class="card-title">TOTAL SALES</h4>
						<p class="card-text">{{this.business.sales}}</p>
					</div>
				</div>
				<div class="col-md-3 icones">
					<img src="assets/icons/store.png">
				</div>
			</div>
		</div>
		<div class="card border-light col-md-4">
			<div class="row">
				<div class="col-md-9">
					<div class="card-body aling-center">
						<h4 class="card-title">TOTAL INCOME</h4>
						<p class="card-text">$ {{this.business.income}}</p>
					</div>
				</div>
				<div class="col-md-3 icones">
					<img src="assets/icons/income.png">
				</div>
			</div>
		</div>
		<div class="card border-light col-md-4">
			<div class="row">
				<div class="col-md-9 aling-center">
					<div class="card-body aling-center">
						<h4 class="card-title">TOTAL VIEWS</h4>
						<p class="card-text">{{this.business.views}}</p>
					</div>
				</div>
				<div class="col-md-3 icones">
					<img src="assets/icons/monitor.png">
				</div>
			</div> 
		</div>
	</div>
</div>